<% include partials/header %>
<h1>View books</h1>

<div class="container top-margin">
  <div class="row">

    <div class="col ">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/411Q1-N-D2L._AC_US218_.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

  </div>
</div>



<% include partials/footer %>
