<% include partials/header %>
  <div class="container">
    <div class="row">

      <div class="col">
        <!-- show any messages that come back with authentication -->
         <% if (message.length > 0) { %>
           <div class="">
             <%= message %>
           </div>
         <% } %>
      </div>

      <div class="col top-margin">

        <form class="" action="/register" method="post">

          <!--Form with header-->
          <div class="card">
            <div class="card-block">

              <!--Header-->
              <div class="form-header blue-gradient">
                <h3><i class="fa fa-user"></i> Register:</h3>
              </div>

              <!--Body-->
              <div class="md-form">
                <!-- <i class="fa fa-user prefix"></i>
                <input type="text" id="form7" class="form-control" name="name" placeholder="Enter your name" required> -->

              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form1" class="form-control" name="email" placeholder="Enter your email " required>

              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form2" class="form-control" name="password"
                     placeholder="Enter password" required>

              </div>

              <div class="text-center">
                <button class="btn btn-indigo">Sign up</button>
              </div>

            </div>
          </div>
          <!--/Form with header-->

        </form>
      </div>

      <div class="col">
      </div>

    </div>
  </div>



  <% include partials/footer %>
